@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  padding: 0;
  margin: 0;
  background: burlywood;
}

.container {
  display: grid;
  min-height: 500px;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-gap: 30px;
}

.text {
  font-family: "Cutive Mono", monospace;
  font-size: 20px;
  min-width: 300px;
}